.card {
  position: relative;
  top: -60px;
  margin-bottom: -30px;

  width: 100%;
  height: 450px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-position: center;
  color: rgba(255, 255, 255, 1);
}

.card_part {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  transform: translateX(100%);
  animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
  background-size: cover;
}

@keyframes opaqTransition {
  3% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(0);
  }

  28% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(-100%);
  }
}
