$primary-color-dark: var(--primary-color-dark);
$background: var(--background);

.MuiPaper-root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiDialogContent-root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.CRUDCardHeader .MuiButton-root {
  background-color: $primary-color-dark !important;
  color: white;
}

.MuiButtonBase-root {
  border: 1px solid !important;
  margin: 0px 1px !important;
  height: 50px !important;
}

.headerCRUD {
  #filled-multiline-flexible,
  .MuiInputBase-multiline,
  .MuiButtonBase-root {
    background-color: $background;
    border-radius: 5px;
  }
}

input {
  box-sizing: content-box !important;
}
