@media screen and (max-width: 600px) {
  .PCView {
    top: 40px;
    display: none;
    margin: 0;
  }

  .MobileView {
    top: 0px;
    display: block;
  }

  .legend {
    display: none;
  }

  .logo {
    display: none;
  }

  .mainContent {
    padding: 0px;
  }

  .articleCard {
    width: 100%;
    margin-top: 5%;

    .cardContent {
      h2 {
        padding: 5px;
        font-size: 5vw;
      }
      h3 {
        font-weight: 200;
        font-size: 3vw;
        padding: 10px;
      }
      p {
        margin-top: 1rem;
        padding: 0px 10px 0px 10px;
      }
    }
  }

  .navBarHeader {
    padding: 0 20px;
    justify-content: space-between;
    align-content: center;

    Button {
      color: white;
      border: 3px transparent;
      text-align: center;

      svg {
        display: inline-block;
        margin-right: 0.5rem;
      }
    }
  }

  .navBar {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .subCategoryItem {
    float: unset;
    width: 100%;
    height: unset;
  }
  .loginPopUp {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .editorBox,
  .previewBox {
    width: 100%;
    height: 50vh !important;
  }

  .headerCRUD {
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .footer-info {
    display: none;
  }

  .dividerContent {
    color: #ffffff;
    display: inline-block;
    text-align: center;
    object-fit: cover;

    a {
      font-size: 4vw;
    }
    p {
      font-size: 3vw;
      padding: 5px;

      padding-left: 2vw;
    }
  }
  .dividerContainerIcons {
    height: 20%;
    width: 100%;
    padding: 20px;
  }

  .dividerContainerImages {
    display: none;
  }

  .item-info {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
  }

  .dividerContent {
    width: 50%;
    padding-bottom: 50%;
  }

  .homeContainer {
    padding: 20px 50px;
  }
}

@media screen and (max-width: 992px) {
  .sideNav {
    display: none;
  }
}
