@media screen and (max-width: 600px) {
  .PCView {
    top: 40px;
    display: none;
    margin: 0;
  }

  .MobileView {
    top: 0px;
    display: block;
  }

  .legend {
    display: none;
  }

  .mainContent {
    padding: 0px;
  }

  .articleCard {
    width: 97%;
    margin-top: 5%;
  }

  .navBarHeader {
    padding: 0 20px;
    justify-content: space-between;
    align-content: center;

    button {
      color: white;
      border: 3px transparent;
      text-align: center;

      svg {
        display: inline-block;
        margin-right: 0.5rem;

      }
    }
  }

  .navBar {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .subCategoryItem {
    float: unset;
    width: 100%;
    height: unset;
  }

  .footer-info{
    display: none;
  }

  
}

@media screen and (max-width: 992px) {

  .sideNav{
    display: none;
  }

}