$primary-color: var(--primary-color);
$primary-color-dark: var(--primary-color-dark);
$primary-color-transparent: var(--primary-color-transparent);
$secondary-color: var(--secondary-color);
$secondary-color-dark: var(--secondary-color-dark);
$font-color: var(--font-color);

$background: var(--background);
$legend: var(--legend);

* {
  margin: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  background-color: $background;
  margin: 0;
  padding: 0;
  height: 100%;
  color: $font-color;
  line-height: 1.5;
}

footer {
  background: $primary-color-dark;
  height: auto;
  padding-top: 40px;
  color: #fff;
}

.footer-info {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.footer-info-center,
.footer-info-right {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 20%;
  padding: 20px;
}
.footer-info-left {
  font-size: small;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
  padding: 20px;
}
.footerAbout {
  padding-right: 30px;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.sideNav {
  flex-direction: column;
  margin-bottom: 10px;
  width: 20%;
  padding: 20px;
}
.singleItemContent {
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 20px;
  min-height: 80vh;

  h1 {
    padding-bottom: 10px;
  }
  h3 {
    padding-bottom: 20px;
  }
}

.articleImage {
  position: absolute;
  width: 100px;
  min-height: 50px;
  top: 0;
  right: 50px;
  opacity: 0.5;
  transition: width 1s, opacity 1s;
  border-radius: 25px;
  &:hover {
    width: 50%;
    opacity: 1;
  }
}
.item-info {
  display: flex;
  justify-content: center;
  padding: 50px 10px 10px 10px;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-family: "Arimo";
}
footer li {
  padding-bottom: 10px;
}

.footerTitle {
  font-size: 18px;
  padding-bottom: 10px;
  letter-spacing: 2px;
}
.sideNavLink {
  text-decoration: none;
  font-family: "Arimo";
}
.sideNavLi {
  border-top: 1px solid gray;
  padding: 10px;
}
.subCategoryNav {
  padding-right: 30px;
  margin-top: 20px;
}
.subCategoryNav a {
  color: gray;
  font-size: x-large;
}

//https://www.fontsquirrel.com/fonts/arimo
@font-face {
  font-family: "Arimo";
  src: url("../fonts/Arimo-Regular.ttf");
}

//https://www.fontsquirrel.com/fonts/agane
@font-face {
  font-family: "Agane";
  src: url("../fonts/Agane-Regular.ttf");
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Arimo;
}

/* width */
::-webkit-scrollbar {
  width: 6px !important;
}

/* Track */
::-webkit-scrollbar-track {
  width: 100%;
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: lightgrey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

.loadingOverlay {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBarWrapper {
  position: sticky;
  background-color: lightgray;
  z-index: 1000;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    align-content: center;

    svg {
      position: relative;
      top: 0.1rem;
      margin-left: 0.4rem;
    }
  }
}

.PCView {
  top: 50px;
  margin: 0 5%;
}

.MobileView {
  top: 0px;
  display: none;
}

.mobileWrapper {
  width: 100%;
}

.navBarHeader {
  width: 100%;
  height: 60px;
  background-color: $primary-color-dark;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 2rem;
  text-align: center;

  a {
    padding: 20px 0;
    width: 100%;
    font-size: 18px;
    transition: background-color 0.2s;
  }

  a:hover {
    background-color: $primary-color;
  }

  span {
    cursor: pointer;
    display: inline-block;
    width: 100%;
  }

  Button {
    color: white;
    background-color: $primary-color;
    padding: 0.5rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    border: dashed transparent 1px;

    svg {
      margin-right: 5px;
    }
  }

  Button:active {
    background-color: $primary-color;
    border: dashed $secondary-color 1px;
  }
}

.navBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;

  width: 100%;
  height: 200px;
  position: absolute;
  transition: all 0.5s;
  background-color: $primary-color-transparent;
  overflow: hidden;
  padding: 2rem;

  hr {
    background-color: $secondary-color;
  }
}

.subCategoryItem {
  display: block;
  width: 20rem;
  height: fit-content;
  padding: 0.5rem;
  margin-right: 2rem;
  transition: background-color 0.2s;
  border: dashed transparent 3px;
}

.subCategoryItem:hover {
  background-color: $primary-color-dark;
}

.subCategoryItem:active {
  border: dashed $secondary-color 3px;
}

.subCategoryCatalogue {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow-x: auto;
}

.legend {
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0px;
  background-color: $legend;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 5%;
  z-index: 1001;

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 1.5rem;
    color: $primary-color-dark;
    font-weight: 100;
  }

  .items {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;

    Button {
      color: white;
      background-color: $primary-color-dark;
      padding: 0.5rem;
      text-align: center;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s;
      border: dashed transparent 3px;

      svg {
        margin-right: 5px;
      }

      &:hover {
        background-color: $primary-color;
      }
    }

    Button:hover {
      background-color: $primary-color;
    }

    Button:active {
      background-color: $primary-color;
      border: dashed $secondary-color-dark 3px;
    }
  }
}

.mainContent {
  width: 100%;
  padding: 0 5%;
}

@keyframes fadeIn {
  from {
    transform: translateY(-10px);
    opacity: 0.5;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.crudHeader {
  width: 100%;
  height: 50px;
}

.CRUDCardButton {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  &:hover {
    background-color: $primary-color-dark;
    svg {
      color: #ffffff;
    }
  }
  &:focus {
    width: 40px;
    height: 40px;
  }
  svg {
    width: 80% !important;
    height: 80% !important;
  }
}

.articleCard {
  position: relative;
  width: calc((100% / 5));
  //margin: 1.5% 0.25%;
  background-color: $background;
  overflow: hidden;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  cursor: pointer;
  transition: all 0.5s;
  border-bottom-right-radius: 10px;
  display: inline-block;
  height: 50vh;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 20%);
  z-index: 1;
  img,
  .cardContent {
    height: 50%;
  }

  .cardContent {
    padding: 10px;
    #title {
      max-height: 60%;
      min-height: 40%;
      border-bottom: 1px solid $font-color;
      font-size: 0.8em;
      overflow: hidden;
    }
    #content {
      height: 40%;
      overflow: hidden;
    }
  }
}

.articleCard:hover {
  background-color: $secondary-color;
  transform: scale(1.02, 1.03);
  z-index: 2;
}

img {
  width: 100%;
  max-height: 100%;
  padding: 10px;
  object-fit: cover;
}

.articleCard img {
  height: 250px;
}

main {
  animation-name: fadeIn;
  animation-duration: 1.5s;
  margin-top: 40px;
  margin-bottom: 50px;
  //display: flex;
  //flex-wrap: wrap;
  flex-direction: row;
  min-height: 100vh;
}

.loginPopUp {
  width: 400px;
  height: 400px;
  background-color: $secondary-color;
  position: fixed;
  top: 50px;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}
.loginPopUp span {
  width: 80%;
  text-align: center;
}

.loginPopUp input {
  width: 100%;
  min-height: 30px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 1px gray;

  &:focus {
    border: solid 1px gray;
    outline: none;
  }
}

.navBarWrapper,
.navBar,
.loginPopUp,
.articleCard:hover {
  -webkit-box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.editorBox,
.previewBox {
  height: 65vh;
  padding: 20px;
  background-color: $background;
  width: 50%;
  float: left;
}

.previewBox {
  overflow: auto;
}

Button.hamburgerMenu {
  position: relative;
  width: 30px;
  height: 24px;
  background-color: transparent;

  div {
    background-color: white;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    position: absolute;
    transition: all 0.5s;
  }

  .top {
    top: 0;
    left: 0;
  }

  .middle {
    top: 10px;
    left: 0;
  }

  .bottom {
    top: 20px;
    left: 0;
  }
}

.headerCRUD {
  width: 100%;
  min-height: 10vh;
  background-color: $primary-color-transparent;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.userBar {
  width: 100%;
  height: 100px;
  border-top: solid 1px gray;
  span {
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

.exampleContainer {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerExample {
  width: 100%;
  height: 10vh;
}

.dividerContainerImages {
  background-color: $primary-color-dark;
  height: 500px;
  display: flex;
}
.imagesContainer {
  width: 25%;
  overflow: hidden;
  display: inline-block;
  text-align: center;
}

.dividerContainerAds {
  padding: 20px;
  max-height: 100px;
  width: 100%;
  overflow: hidden;
  background-color: $primary-color-dark;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  transition: all 1s;
  opacity: 0.8;
  cursor: pointer;

  &:hover {
    max-height: 600px;
    opacity: 1;
  }
}
.dividerContainerAds * {
  pointer-events: none;
}

.dividerContainerAds:hover * {
  pointer-events: all;
}

.dividerContent {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-size: cover;
  transition: all 1s;
  display: block;

  &:hover {
    width: 100px;
    height: 100px;
  }
}

.dividerContainerImages {
  background-color: $primary-color-dark;
  height: 15vw;
  margin: 30px 0px 30px 0px;
}
.dividerImg {
  float: left;
  cursor: pointer;
  width: 20%;
  margin: 20px auto;
  display: block;
  overflow: hidden;

  :hover {
    opacity: 0.7;
  }
}
.homeContainer {
  padding: 20px 0;
}
.categoryTitle {
  padding: 20px;
}

table {
  width: 100%;
  border-spacing: 0;
}

th {
  background-color: $primary-color;
}
td {
  border: 1px solid $font-color;
}

.debug {
  position: absolute;
  top: 0;
  right: 0;
  background-color: lightpink;
  width: 500px;
  height: 500px;
  z-index: 10000000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.editorImage {
  width: 20%;
  float: right;
  max-height: 20vh;
  opacity: 0.5;
  transition: all 2s;
  cursor: pointer;
  &:hover {
    opacity: 1;
    width: 100%;
    max-height: 100vh;
  }
}

.logo {
  position: fixed;
  top: 10px;
  left: 0px;
  z-index: 10000;
  width: 5%;
}
