$primary-color: rgb(66, 161, 216);
$primary-color-dark: rgb(7, 104, 159);
$primary-color-transparent: rgb(66, 161, 216, 0.9);

$secondary-color: rgb(140, 199, 144);
$secondary-color-dark: rgb(61, 129, 65);


* {
  margin: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
  font-family: Agane;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  margin:0;
  padding:0;
  height:100%;
}

footer{
  background: $primary-color-dark;
  height: auto;
  padding-top: 40px;
  color: #fff;
  
}

.footer-info  {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.footer-info-center, .footer-info-right {
  font-size: small;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 20%;
  padding: 20px;
}
.footer-info-left {
  font-size: small;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
  padding: 20px;
}
.footerAbout{
padding-right: 30px;
}

.sideNav{
  flex-direction: column;
  margin-bottom: 10px;
  width: 20%;
  padding: 20px;
}
.singleItemContent{
  flex-direction: column;
  margin-bottom: 10px;
  width: 80%;
  padding: 20px;
}
.item-info{
  display: flex;
  justify-content: center;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-family: "Arimo";

}

.footerTitle{
  font-size: large;
  padding-bottom: 10px;
}
.sideNavLink{
  text-decoration: none;
  font-family: "Arimo";
}
.sideNavLi{
  border-top: 1px solid gray ;
  padding: 10px;
}
.subCategoryNav{
  padding-right: 30px;
}
.subCategoryNav a {
  color: gray;
  font-size: x-large;
}

//https://www.fontsquirrel.com/fonts/arimo
@font-face {
  font-family: "Arimo";
  src: url("../fonts/Arimo-Regular.ttf");
}

//https://www.fontsquirrel.com/fonts/agane
@font-face {
  font-family: "Agane";
  src: url("../fonts/Agane-Regular.ttf");
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Arimo;
}

/* width */
::-webkit-scrollbar {
  width: 6px !important;
}

/* Track */
::-webkit-scrollbar-track {
  width: 100%;
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: lightgrey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

.loadingOverlay {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBarWrapper {
  position: sticky;
  background-color: lightgray;
  z-index: 1000;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    align-content: center;

    svg {
      position: relative;
      top: 0.1rem;
      margin-left: 0.4rem;
    }
  }
}

.PCView {
  top: 50px;
  margin: 0 5%;
}

.MobileView {
  top: 0px;
  display: none;
}

.navBarHeader {
  width: 100%;
  height: 60px;
  background-color: $primary-color-dark;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 2rem;
  text-align: center;

  a {
    padding: 20px 0;
    width: 100%;
    transition: background-color 0.2s;
  }

  a:hover {
    background-color: $primary-color;
  }

  span {
    cursor: pointer;
    display: inline-block;
    width: 100%;
  }

  button {
    color: white;
    background-color: $primary-color;
    padding: 0.5rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    border: dashed transparent 1px;

    svg {
      margin-right: 5px;
    }
  }

  button:active {
    background-color: $primary-color;
    border: dashed $secondary-color 1px;
  }
}

.navBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;

  width: 100%;
  height: 200px;
  position: absolute;
  transition: all 0.5s;
  background-color: $primary-color-transparent;
  overflow: hidden;
  padding: 2rem;

  hr {
    background-color: $secondary-color;
  }
}

.subCategoryItem {
  display: block;
  width: 20rem;
  height: fit-content;
  padding: 0.5rem;
  margin-right: 2rem;
  transition: background-color 0.2s;
  border: dashed transparent 3px;
}

.subCategoryItem:hover {
  background-color: $primary-color-dark;
}

.subCategoryItem:active {
  border: dashed $secondary-color 3px;
}

.subCategoryCatalogue {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow-x: auto;
}

.legend {
  width: 100%;
  height: 40px;
  position: sticky;
  top: 0px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 5%;
  z-index: 1000;

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 1.5rem;
    color: $primary-color;
    font-weight: 100;
  }

  .items {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;

    button {
      color: white;
      background-color: $primary-color-dark;
      padding: 0.5rem;
      text-align: center;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s;
      border: dashed transparent 3px;

      svg {
        margin-right: 5px;
      }
    }

    button:hover {
      background-color: $primary-color;
    }

    button:active {
      background-color: $primary-color;
      border: dashed $secondary-color-dark 3px;
    }
  }
}

.mainContent {
  width: 100%;
 
  padding: 0 5%;
}

@keyframes fadeIn {
  from {
    transform: translateY(-10px);
    opacity: 0.5;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.articleCard {
  width: 30%;
  margin: 1% 1.5%;
  background-color: $primary-color;
  overflow: hidden;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  cursor: pointer;
  transition: all 0.5s;
  border-bottom-right-radius: 10px;
  display: inline-block;

  .cardContent {
    margin: 20px;
    text-overflow: ellipsis;

    h3 {
      font-weight: 100;
      font-size: 0.9rem;
    }

    p {
      margin-top: 1rem;
    }
  }
}

.articleCard:hover {
  background-color: $secondary-color;
  transform: scale(1.02, 1.03);
  box-shadow: 0px 4px 10px rgb(0 0 0 / 20%);
}

img {
  width: 100%;
  object-fit: cover;
  max-height: 400px;
}

.articleCard img {
  height: 150px;
}

main {
  background-color: white;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

button.hamburgerMenu {
  position: relative;
  width: 30px;
  height: 24px;
  background-color: transparent;


  div {
    background-color: white;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    position: absolute;
    transition: all 0.5s;
  }

  .top {
    top: 0;
    left: 0;
  }

  .middle {
    top: 10px;
    left: 0;
  }

  .bottom {
    top: 20px;
    left: 0;
  }

}